<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Octacore</title>
    <link rel="stylesheet" href="/CSS/home.css">
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/footer.css">
    <link rel="stylesheet" href="/CSS/whatsapp.css">
    <link rel="stylesheet" href="/CSS/faixa.css">
    <link rel="stylesheet" href="/CSS/diretoria.css">
    <link rel="stylesheet" href="/CSS/carroussel.css">
    <link rel="stylesheet" href="/CSS/beneficio.css">
    <link rel="stylesheet" href="/CSS/quem-somos.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Font Awesome para ícones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>
<div>

     <!-- Importando o header  -->
 <%- include('partials/header') %>
</div>
<%- include('partials/faixa') %>

<%- include('partials/carrossel') %>

<section class="quem-somos" id="quem-somos">
    <%- include('partials/quem-somos') %>

</section>


<section class="beneficios" id="beneficios">
    <%- include('partials/beneficios') %>

</section>

<section class="diretoria" id="diretoria">
    <%- include('partials/diretoria') %>
</section>

<%- include('partials/footer') %>
<%- include('partials/botao-whatsapp') %>
    
    <!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Importando o script do carrossel -->
<script src="/js/carousel.js"></script>

    <!-- Importando o script no final para garantir que o DOM já foi carregado -->
    <script src="/js/menu.js"></script>

</body>
</html>