<div class="card-loja">
    <div class="image-placeholder">
        <img src="<%= imagem %>" alt="<%= nome %>">
    </div>
    <h2><%= nome %></h2>
    <p class="price"><span class="old-price">DE: R$ <%= precoAntigo.toFixed(2) %></span></p>
    <p class="price"><span class="new-price">POR: R$ <%= precoNovo.toFixed(2) %></span></p>
    <a href="https://wa.me/5594992760247?text=Olá, gostaria de comprar o <%= nome %>" class="btn">Comprar</a>
</div>